<%- include('partials/header'); %>

<div class="jumbotron remove-margin">
	<h1 class="main-header">East Coast Weather Service Alerts Center</h1>
</div>

<div class="container main-body">
	<h3>About Us</h3>
	<p>
		East Coast Weather Service is a weather service that provides weather forecasts, alerts, and predictions for the East Coast. This website is the alerts center for the company. We will post all weather alerts on this page. If you would like to recieve the alerts by e-mail, create an account and select which states you would like to recieve alerts for.
	</p>
</div>
<div class="container main-body">
	<h3>Support</h3>
	<p>
		Please contact ecwsalerts@gmail.com for any technical issues!
	</p>
</div>

<%- include('partials/footer'); %>