<%- include('../partials/header'); %>

<h1 class="header">Alerts Page</h1>

<p>
	Below is a list of the states that we issue alerts for. Alerts are automatically removed from the website once they have expired. If you would like to recieve e-mail notifcations as soon as they are posted, please register for an account.
</p>

<br>

<a class="btn btn-primary btn-lg alert-button" href="/alerts/maryland">Maryland Alerts</a>

<br>
<br>

<a class="btn btn-primary btn-lg alert-button" href="/alerts/virginia">Virginia Alerts</a>

<br>
<br>

<a class="btn btn-primary btn-lg alert-button" href="/alerts/pennsylvania">Pennsylvania Alerts</a>

<%- include('../partials/footer'); %>