<%- include('../partials/header'); %>

<h1>Virginia Alerts</h1>

<br>

<% if(alerts.length == 0 ) { %>
	<div class="no-alerts">
		<h3>There Are No Alerts At This Time!</h3>
	</div>
<% } %>

<% alerts.forEach(function(item, error) { %>
	<div class="format-alert">
		<h3 class="head-body-split">
		<%= item.subject %>
		</h3>
		<p>
			<%= item.body %>
		</p>
	</div>
<% } ) %>

<%- include('../partials/footer'); %>